@media (max-width:962px) {    

    h1 {
        text-align: center;
    }

    .main__h1 {
        font-size: 3.25rem;
        line-height: 3.25rem;    
    }



h4 {
    text-align: center;
}


main {
    text-align: center;
}

.main__text {
    padding-top: 1.25rem;
}


footer {    
     text-align: center;    

    .alignCenter {
    display: flex;
    justify-content: center;
    }

}


}