@media (max-width:962px) {    
// main
    h1 {
        text-align: center;
    }

    .main__h1 {
        font-size: 3.25rem;
        line-height: 3.25rem;    
    }



h4 {
    text-align: center;
}


main {
    text-align: center;
}

.main__text {
    padding-top: 1.25rem;
}

// article

.preFooter__misc--l {
    display: none;
}

.preFooter__misc--r {
    display: none;
}

.preFooter__ilust {
    display: none;
}

.article__yellowPill {
    justify-content: center;
    text-align: center !important;
    font-size: 1rem !important;
    border-radius: 80px !important;
    padding-left: 0px !important;
    left: 0px !important;
    position: absolute;
}


footer {    
     text-align: center;    

    .alignCenter {
    display: flex;
    justify-content: center;
    }

}


}