@media (max-width:962px) { 

    .container__contactPleca {
        display: flex;
        justify-content: center !important;
    }
    .contact__main--marker {
        justify-content: center !important;
    }

    .contact__main--phone {
        justify-content: center !important;
    }

    .container__btnSubmit {
        display: flex;
        justify-content: center !important;
    }

}
